:root {
    --primary-bg: #FFFFFF;
    --second_bg: #236BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1D3042;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: var(--primary-bg);
}

.container_ {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.suitable_pack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--second_bg);
    background-image: url("./background.svg");
    background-size: contain;
    width: 100vw;
    height: 1136px;
    gap: 15px;
    overflow-y: visible;
}

h2_s {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 51px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

h6_s {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5224px;
    line-height: 32px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    opacity: 0.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h6g {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5224px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #23293D;
    opacity: 0.5;

}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-decoration: none;
}

.mon-year::before {
    content: "";
    background-image: url(./20-100.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 136px;
    height: 89px;
    transform: translate(149px, -14px) rotate(5deg);
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5224px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #23293D;
    opacity: 0.5;
}

hg {
    display: block;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: -0.05em;
    color: #1D3042;
}

price {
    /* font-family: 'Circular Std'; */
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 24px;
    /* identical to box height, or 40% */
    letter-spacing: -0.05em;
}

.tik::after {
    content: url(./tik.svg);
    position: relative;
    top: -59px;
    right: 55px;
    z-index: 1;
}

.reviews::after {
    content: "";
    background-image: url('./diamond.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 59px;
    height: 59px;
    transform: translate(574px, -142px);
}

.reviews::before {
    content: "";
    background-image: url('./Spheres\ 2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 84px;
    height: 84px;
    transform: translate(-552px, 146px);
}
::-webkit-scrollbar {
    display: none;
}